<!DOCTYPE css>
<css>
<head>
	<meta charset="utf-8">
        <title>‘Our cry for help’: 5 Afghan students need assistance bringing family to safety</title>
	<style type="text/css">
		.container {
			padding: 3px;
		}

		p {
			font-family: 'Georgia', serif;
			font-size: 16px;
			color: #111;
		}
		img {
			border: 2px solid orange;
		}
		
		#byline {
			color: #282828;
			text-align: center;
			font-style: italic;
			/*get rid of this?*/
		}

		.pull-quote {
			color: #007A36;
			margin-left: 10px;
			border: 2px dashed orangered;
			text-align: center;
			font-style: italic;
			font-size: 20px;
		}
	</style>
</head>
